services:
  frontend:
    build: ./frontend
    container_name: react-frontend
    ports:
      - "5173:5173"  
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: express-app
    ports:
      - "3001:3001"  
    environment:
      DB_HOST: db
      DB_USER: caixa
      DB_PASSWORD: caixa
      DB_NAME: caixa_enginyers
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mariadb:10.5
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: caixa_enginyers
      MYSQL_USER: caixa
      MYSQL_PASSWORD: caixa
    ports:
      - "3306:3306"  
    volumes:
      - ./backend/db.sql:/docker-entrypoint-initdb.d/database.sql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mariadb-data:
    driver: local
